@import "./bootstrap";
@import "./bootstrap-overlay";

// global自定義的部分
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.57;
  background-color: #f8f9fa;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
